body{
  background-color: $negro;
  display: flex;
  justify-content: center;
}
.App{
  height: 100vh;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media screen and (max-width:500px) {
    width: 100%;
  }
  & > h1{
    color: white;
    text-align: center;
    a{
      color: $rosado;
      text-decoration: none;
      cursor: pointer;
    }
  }
  button{
    margin-top: .5rem;
    border-radius: 50px;
    border: none;
    background-color: $morado;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: .5rem;
    cursor: pointer;
    &:active{
      background-color: lighten($morado,5);
    }
  }
}